*.d
*.o
*.so
config.log
config.status
inst/jri/JRI.jar
inst/jri/run
inst/jri/examples/rtest.class
inst/jri/examples/rtest.java
inst/jri/examples/rtest2.class
inst/jri/examples/rtest2.java
inst/jri/examples/TextConsole.class
inst/jri/examples/TextConsole2.class
jri/Makefile
jri/run
jri/examples/rtest.class
jri/examples/rtest2.class
jri/examples/TextConsole.class
jri/examples/TextConsole2.class
jri/src/config.h
jri/src/JRI.jar
jri/src/Makefile
jri/src/org_rosuda_JRI_Rengine.h
jri/src/org/rosuda/JRI/Mutex.class
jri/src/org/rosuda/JRI/RBool.class
jri/src/org/rosuda/JRI/RConsoleOutputStream.class
jri/src/org/rosuda/JRI/Rengine.class
jri/src/org/rosuda/JRI/REXP.class
jri/src/org/rosuda/JRI/RFactor.class
jri/src/org/rosuda/JRI/RList.class
jri/src/org/rosuda/JRI/RMainLoopCallbacks.class
jri/src/org/rosuda/JRI/RVector.class
R/zzz.R
src/config.h
src/Makevars
src/jri/src/org/rosuda/JRI/RVector.class
src/jri/Makefile
src/jri/run
src/jri/examples/rtest.class
src/jri/examples/rtest2.class
src/jri/examples/TextConsole.class
src/jri/examples/TextConsole2.class
src/jri/src/config.h
src/jri/src/JRI.jar
src/jri/src/Makefile
src/jri/src/org_rosuda_JRI_Rengine.h
src/jri/src/org/rosuda/JRI/Mutex.class
src/jri/src/org/rosuda/JRI/RBool.class
src/jri/src/org/rosuda/JRI/RConsoleOutputStream.class
src/jri/src/org/rosuda/JRI/Rengine.class
src/jri/src/org/rosuda/JRI/REXP.class
src/jri/src/org/rosuda/JRI/RFactor.class
src/jri/src/org/rosuda/JRI/RList.class
src/jri/src/org/rosuda/JRI/RMainLoopCallbacks.class
